<a href="https://colab.research.google.com/github/jherrerae/Project2/blob/main/Project_2_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
filename="/content/drive/MyDrive/Coding Dojo/Classes/Datasets/Company Bankruptcy data.csv"
df=pd.read_csv(filename)
df.head(5)

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490

In [9]:
df.shape

(6819, 96)

First choice: dataset 1

1) Source of data

Kaggle

https://www.kaggle.com/datasets/fedesoriano/company-bankruptcy-prediction?resource=download

2) Brief description of data
The data were collected from the Taiwan Economic Journal for the years 1999 to 2009. Company bankruptcy was defined based on the business regulations of the Taiwan Stock Exchange.

3) What is the target?

Company Bankruptcy-> Yes or No 
Y - Bankrupt?: Class label


4) Is this a classification or regression problem?

Classification

5) How many features?

96 columns

6) How many rows of data.

6819

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

Lots of features to evaluate, maybe a PCA is needed to reduce

In [10]:
filename="/content/drive/MyDrive/Coding Dojo/Classes/Datasets/CO2 Emissions_Canada.csv"
df1=pd.read_csv(filename)
df1.head(5)

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [11]:
df1.shape

(7385, 12)

Second choice: dataset 2

1) Source of data

Kaggle 

https://www.kaggle.com/datasets/debajyotipodder/co2-emission-by-vehicles

2) Brief description of data The data were collected from the Taiwan Economic Journal for the years 1999 to 2009. Company bankruptcy was defined based on the business regulations of the Taiwan Stock Exchange.

3) What is the target?

CO2 Emissions(g/km)

4) Is this a classification or regression problem?

regression

5) How many features?

12 columns

6) How many rows of data.

7835

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

Combination of categorical and numerical features.
Analysis ofsome categorical values